<p id="notice"><%= notice %></p>
<p>
  <h2>Profile</h2>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Comment Count:</strong>
  <%= @user.comments.count %>
</p>

<p>
  <strong>Links submitted</strong>
  <%= @user.links.count %>
</p>


<!-- add karma count in here -->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
