<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="board_topic">
        <%= @user.name %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">Email</div>
    <div class="col-md-3">Comment Count</div>
    <div class="col-md-3"> Total Posts</div>
  </div>

  <div class = "row">
    <div class="col-md-3">
      <%= @user.email %>
    </div>
    <div class = "col-md-3">
      <%= @user.comments.count %>
    </div>
    <div class = "col-md-3">
      <%= @user.links.count %>
    </div>
  </div>

  <div class="row">
    <%= link_to 'New Link', new_link_path %>
  </div>
</div>

<%= link_to 'Back', boards_path %>
