<h1>New Link</h1>

<%= form_for(@link) do |f| %>
<%= f.hidden_field :user_id, value: session[:user_id] %>
<p>
  <%= f.label :info, "Info:", class: "label" %>
</p>
<p>
  <%= f.text_area :info, class: "comment-field"%>
</p>
<p>
  <%= f.label :info, "Info:", class: "label" %>
</p>
<p>
  <%= f.text_area :info, class: "comment-field"%>
</p>
<p>
  <%= f.label :board, "Board:", class: "label" %>
</p>
<%= f.select :board_id, Board.all.map { |b| [b.topic, b.id]}, class: "drop-down" %>
<p>
<%= f.submit "New Bred", class: "submit-button" %>
</p>
<%= link_to 'Back', links_path %>

<% end %>
