
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="board_topic">
        <%= link_to image_tag("Bread_toaster_16.png"), votes_path(:vote => {:link_id => @link.id, :up => true}), :method => :post %><%= @link.votes.count %>
    </div>
    </div>
    <div class="col-md-4">
      <div class="board_topic">
        <%= @link.title %>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">User</div>
    <div class="col-md-4">Post</div>  </div>
  <div class = "row">
    <div class="col-md-2"></div>
    <div class = "col-md-2">
      <%= @link.user.name %>
    </div>
    <div class="col-md-4">
      <%= @link.info %>
    </div>
  </div>

<div class ="row">
  <div class="col-md-9">
      <div class = "comments">
      <% @link.comments.each do |comment| %>
      <p><div class="user_name"><%= comment.user %></div></p>
      <p><div class="comment"><%= comment.body %></div></p>
    <% end %>
  </div>
</div>

<div class="col-md-8">
  <%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %> </li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :link_id, :value => @link.id %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.text_area :body, placeholder: "Tell us how you really feel" %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>



