<p id="#{@link.topic}"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Info:</strong>
  <%= @link.info %>
</p>

<p>
  <strong>User:</strong>
  <%= @link.user.name %>
</p>


<fieldset>
<div>
  <p><strong>Replys:</strong> <%= @link.comments.count %></p>
  <% @link.comments.each do |comment| %>
  <fieldset>
    <legend>User</legend>
    <p><%= comment.user.name %> </p>
    <legend>Comment</legend>
    <p> <%= comment.body %></p>
    </fieldset>
  <% end %>
</div>
</fieldset>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :body %>
    <%= f.hidden_field :link_id, :value => @link.id %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.text_area :body, placeholder: "Tell us how you really feel" %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', root_path %>
