<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @board.topic %>
</p>

<% @board.links.each do |link| %>
<%= link.title %>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>

<% end %>
