<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @vote.number %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @vote.comment %>
</p>

<p>
  <strong>Link:</strong>
  <%= @vote.link %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
